img{
border: 7px solid #ddd;
  border-radius: 20px;
  width:300px
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
body{background-color:#ADD8E6;
	font-family:'Times New Roman', serif;
}
	.red{color:red;
	
}
	.big_font{font-size:32px
}
#specialStyle {background-color:#DDA0DD;
border:2px solid red;
width:38.4%;
}